<header>
<!-- <a id="go-back-home" href="{{ site.url }}"><img src="{{ site.url }}/images/scribble.png" alt="scribble" width="53" height="59"></a>
<p>{{ site.title }}</p> -->
  
  <img src="images/me.jpg" alt="Steven photo" width="100%">
  
  <div>
    <h3 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h3>
    <br />
    <p>
      S.M. Candidate,
      <a href="http://web.mit.edu/orc/www/">Operations Research Center</a>,
      <a href="http://www.mit.edu/">MIT</a>
    </p>
    <p>Research Fellow, 
      <a href="http://www.draper.com">Draper Laboratory</a>
    </p>
    <p>Infantry Officer, 
      <a href="http://www.army.mil">U. S. Army</a>
    </p>

    <br />

    <h6 style="display:inline"><i>Contact:</i> steventmorse at gmail</h6>
   </div>
</header>
